{%extends 'core template.html'%}
{% load bootstrap %}

{%block title %}GameTok{% endblock %}
{%block page %}
{% if usr.is_authenticated %}

<center>This is First Page... </center>
<br><br>
<center><h1><a href="ShowMeApp">CLICK</a></h1></center>
<br><br>
<center><h1><a href="user_account/">Profile:{{usr}}</a></h1></center>
<center><h1><a href="{% url 'logout' %}">Logout</a></h1></center>

{% else %}
<center>This is First Page... </center>
<center><h1><a href="ShowMeApp">CLICK</a></h1></center>
<br><br>
<center><h2><a href="Account/register/">Register</a></h2></center> <center><h2><a href="Account/login/">Login</a></h2></center>

{%endif%}
{% endblock %}